@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Michroma&display=swap");

@theme {
  --color-primary: #e1207a;
  --color-primary-light: #f5348e;
  --color-secondary: #9103eb;
  --color-tetriary: #08021a;
  --color-border: #4b4261;
  --color-fourth: #1a1726;
  --color-fifth: #333741;
  --color-sixth: #94969c;
}

@layer base {
  body {
    font-family: "DM Sans", sans-serif;
    background: var(--color-tetriary);
    color: white;
    line-height: 1.6;
  }
}
@layer components {
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
}
.hero-heading {
  font-family: "Michroma", sans-serif;
}
